/* Fix Flowbite select inputs inside accordions */
/* accordion-fix.css */
[data-accordion] select {
  background-image: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}