.datatable-wrapper.no-header .datatable-container {
	border-top: 1px solid #d9d9d9;
}

.datatable-wrapper.no-footer .datatable-container {
	border-bottom: 1px solid #d9d9d9;
}

.datatable-top,
.datatable-bottom {
	padding: 8px 10px;
}

.datatable-top > nav:first-child,
.datatable-top > div:first-child,
.datatable-bottom > nav:first-child,
.datatable-bottom > div:first-child {
	float: left;
}

.datatable-top > nav:last-child,
.datatable-top > div:not(first-child),
.datatable-bottom > nav:last-child,
.datatable-bottom > div:last-child {
	float: right;
}

.datatable-selector {
	padding: 6px;
}

.datatable-input {
	padding: 6px 12px;
}

.datatable-info {
	margin: 7px 0;
}

/* PAGER */
.datatable-pagination ul {
	margin: 0;
	padding-left: 0;
}

.datatable-pagination li {
	list-style: none;
	float: left;
}

.datatable-pagination li.datatable-hidden {
    visibility: hidden;
}

.datatable-pagination a,
.datatable-pagination button {
	border: 1px solid transparent;
	float: left;
	margin-left: 2px;
	padding: 6px 12px;
	position: relative;
	text-decoration: none;
	color: #333;
    cursor: pointer;
}

.datatable-pagination a:hover,
.datatable-pagination button:hover {
	background-color: #d9d9d9;
}

.datatable-pagination .datatable-active a,
.datatable-pagination .datatable-active a:focus,
.datatable-pagination .datatable-active a:hover,
.datatable-pagination .datatable-active button,
.datatable-pagination .datatable-active button:focus,
.datatable-pagination .datatable-active button:hover {
	background-color: #d9d9d9;
	cursor: default;
}

.datatable-pagination .datatable-ellipsis a,
.datatable-pagination .datatable-disabled a,
.datatable-pagination .datatable-disabled a:focus,
.datatable-pagination .datatable-disabled a:hover,
.datatable-pagination .datatable-ellipsis button,
.datatable-pagination .datatable-disabled button,
.datatable-pagination .datatable-disabled button:focus,
.datatable-pagination .datatable-disabled button:hover {
    pointer-events: none;
    cursor: default;
}

.datatable-pagination .datatable-disabled a,
.datatable-pagination .datatable-disabled a:focus,
.datatable-pagination .datatable-disabled a:hover,
.datatable-pagination .datatable-disabled button,
.datatable-pagination .datatable-disabled button:focus,
.datatable-pagination .datatable-disabled button:hover {
	cursor: not-allowed;
	opacity: 0.4;
}

.datatable-pagination .datatable-pagination a,
.datatable-pagination .datatable-pagination button {
	font-weight: bold;
}

/* TABLE */
.datatable-table {
	max-width: 100%;
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
}

.datatable-table > tbody > tr > td,
.datatable-table > tbody > tr > th,
.datatable-table > tfoot > tr > td,
.datatable-table > tfoot > tr > th,
.datatable-table > thead > tr > td,
.datatable-table > thead > tr > th {
	vertical-align: top;
	padding: 8px 10px;
}

.datatable-table > thead > tr > th {
	vertical-align: bottom;
	text-align: left;
	border-bottom: 1px solid #d9d9d9;
}

.datatable-table > tfoot > tr > th {
	vertical-align: bottom;
	text-align: left;
	border-top: 1px solid #d9d9d9;
}

.datatable-table th {
	vertical-align: bottom;
	text-align: left;
}

.datatable-table th a {
	text-decoration: none;
	color: inherit;
}

.datatable-table th button,
.datatable-pagination-list button {
    color: inherit;
    border: 0;
    background-color: inherit;
    cursor: pointer;
    text-align: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.datatable-sorter, .datatable-filter {
	display: inline-block;
	height: 100%;
	position: relative;
	width: 100%;
}

.datatable-sorter::before,
.datatable-sorter::after {
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	right: 4px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	opacity: 0.2;
}


.datatable-sorter::before {
	border-top: 4px solid #000;
	bottom: 0px;
}

.datatable-sorter::after {
	border-bottom: 4px solid #000;
	border-top: 4px solid transparent;
	top: 0px;
}

.datatable-ascending .datatable-sorter::after,
.datatable-descending .datatable-sorter::before,
.datatable-ascending .datatable-filter::after,
.datatable-descending .datatable-filter::before {
	opacity: 0.6;
}

.datatable-filter::before {
    content: "";
    position: absolute;
    right: 4px;
    opacity: 0.2;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
	border-radius: 50%;
    border-top: 10px solid #000;
    top: 25%;
}

.datatable-filter-active .datatable-filter::before {
    opacity: 0.6;
}

.datatable-empty {
	text-align: center;
}

.datatable-top::after, .datatable-bottom::after {
	clear: both;
	content: " ";
	display: table;
}

table.datatable-table:focus tr.datatable-cursor > td:first-child {
	border-left: 3px blue solid;
}

table.datatable-table:focus {
	outline: solid 1px black;
    outline-offset: -1px;
}

/* Flowbite datatable overrides extracted from flowbite@3.1.2 */
.datatable-wrapper {
  width:100%;
}
@media (width>=640px) {
  .datatable-wrapper .datatable-top {
    flex-direction:row-reverse;
    align-items:center;
  }
}
@media (width>=640px) {
  .datatable-wrapper .datatable-bottom {
    flex-direction:row;
    align-items:center;
  }
}
.datatable-wrapper .datatable-bottom {
  flex-direction:column;
  justify-content:space-between;
  align-items:start;
  gap:1rem;
  margin-top:1rem;
  display:flex;
}
@media (width>=640px) {
  .datatable-wrapper .datatable-bottom {
    flex-direction:row;
    align-items:center;
  }
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item-link {
  color:var(--color-gray-500);
  border-top:1px solid var(--color-gray-300);
  border-bottom:1px solid var(--color-gray-300);
  border-right:1px solid var(--color-gray-300);
  align-items:center;
  height:2rem;
  padding-left:.75rem;
  padding-right:.75rem;
  font-size:.875rem;
  font-weight:500;
  display:flex;
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item-link:hover {
  background-color:var(--color-gray-50);
  color:var(--color-gray-700);
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type,.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type {
  position:relative;
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link,.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link,.dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link,.dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link {
  color:#0000;
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link:after {
  content:url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.551 0.027 264.364)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
  width:1.3rem;
  height:1.3rem;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link:hover:after {
  content:url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.21 0.034 264.665)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link:after {
  content:url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.551 0.027 264.364)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
  width:1.3rem;
  height:1.3rem;
  position:absolute;
  top:50%;
  right:50%;
  transform:translate(50%,-50%);
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link:hover:after {
  content:url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.21 0.034 264.665)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link {
  border-left:1px solid var(--color-gray-300);
  border-top-left-radius:.5rem;
  border-bottom-left-radius:.5rem;
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link {
  border-left:0;
  border-top-right-radius:.5rem;
  border-bottom-right-radius:.5rem;
}
.datatable-wrapper .datatable-top {
  flex-direction:column-reverse;
  justify-content:space-between;
  align-items:start;
  gap:1rem;
  margin-bottom:1rem;
  display:flex;
}
@media (width>=640px) {
  .datatable-wrapper .datatable-top {
    flex-direction:row-reverse;
    align-items:center;
  }
}
.datatable-wrapper .datatable-top .datatable-dropdown {
  color:var(--color-gray-500);
  font-size:.875rem;
}
.datatable-wrapper .datatable-top .datatable-dropdown .datatable-selector {
  background-color:var(--color-gray-50);
  color:var(--color-gray-900);
  border:1px solid var(--color-gray-300);
  border-radius:.5rem;
  min-width:4rem;
  margin-right:.25rem;
  font-size:.875rem;
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list {
  align-items:center;
  height:2rem;
  font-size:.875rem;
  display:flex;
}
.datatable-wrapper .datatable-table {
  width:100%;
  color:var(--color-gray-500);
  text-align:left;
  font-size:.875rem;
}
.datatable-wrapper .datatable-table thead {
  color:var(--color-gray-500);
  background-color:var(--color-gray-50);
  font-size:.75rem;
}
.datatable-wrapper .datatable-table thead th {
  white-space:nowrap;
  padding:.75rem 1.5rem;
  width:auto!important;
}
.datatable-wrapper .datatable-table tbody th,.datatable-wrapper .datatable-table tbody td {
  padding:.75rem 1.5rem;
  width:auto!important;
}
.datatable-wrapper .datatable-table thead th .datatable-sorter,.datatable-wrapper .datatable-table thead th {
  text-transform:uppercase;
}
.datatable-wrapper .datatable-table tbody tr {
  border-bottom:1px solid var(--color-gray-200);
}
.datatable-wrapper .datatable-search .datatable-input,.datatable-wrapper .datatable-input {
  color:var(--color-gray-900);
  border:1px solid var(--color-gray-300);
  background-color:var(--color-gray-50);
  border-radius:.5rem;
  min-width:16rem;
  font-size:.875rem;
}
.datatable-wrapper thead th .datatable-input {
  color:var(--color-gray-900);
  background-color:#fff;
  min-width:0;
  padding-top:.35rem;
  padding-bottom:.35rem;
  font-weight:400;
}
.datatable-wrapper .datatable-search .datatable-input {
  color:var(--color-gray-900);
  border:1px solid var(--color-gray-300);
  background-color:var(--color-gray-50);
  border-radius:.5rem;
  min-width:16rem;
  font-size:.875rem;
}
.dark .datatable-wrapper .datatable-search .datatable-input {
  color:#fff;
  background-color:var(--color-gray-800);
  border:1px solid var(--color-gray-700);
}
.datatable-wrapper .datatable-search .datatable-input:focus {
  border-color:var(--color-blue-600);
}
.datatable-wrapper .datatable-container,.overflow-x-auto {
  overflow-x:auto;
}
.dark .datatable-wrapper .datatable-search .datatable-input,.dark .datatable-wrapper .datatable-input {
  color:#fff;
  background-color:var(--color-gray-800);
  border:1px solid var(--color-gray-700);
}
.dark .datatable-wrapper thead th .datatable-input {
  background-color:var(--color-gray-700);
  border-color:var(--color-gray-600);
  color:#fff;
}
.dark .datatable-wrapper .datatable-top .datatable-dropdown {
  color:var(--color-gray-400);
}
.dark .datatable-wrapper .datatable-top .datatable-dropdown .datatable-selector {
  background-color:var(--color-gray-800);
  border:1px solid var(--color-gray-700);
  color:#fff;
}
.dark .datatable-wrapper .datatable-table {
  color:var(--color-gray-400);
}
.dark .datatable-wrapper .datatable-table thead {
  color:var(--color-gray-400);
  background-color:var(--color-gray-800);
}
.dark .datatable-wrapper .datatable-table tbody tr {
  border-bottom:1px solid var(--color-gray-700);
}
.dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item-link {
  color:var(--color-gray-400);
  border-color:var(--color-gray-700);
}
.dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link,.dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link {
  color:#0000;
}
.dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link:after {
  content:url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.707 0.022 261.325)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
}
.dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link:hover:after {
  content:url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m14 8-4 4 4 4'/%3e %3c/svg%3e");
}
.dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link:after {
  content:url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='oklch(0.707 0.022 261.325)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
}
.dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link:hover:after {
  content:url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 16 4-4-4-4'/%3e %3c/svg%3e");
}
.dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link {
  border-left:1px solid var(--color-gray-700);
}
.dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item-link:hover {
  background-color:var(--color-gray-700);
  color:#fff;
}
.datatable-wrapper .datatable-table tbody tr.selected {
  background-color:var(--color-gray-100);
}
.dark .datatable-wrapper .datatable-table tbody tr.selected {
  background-color:var(--color-gray-700);
}
.datatable-wrapper .datatable-container thead tr.search-filtering-row th {
  padding-top:0;
}
.datatable-wrapper .datatable-table .datatable-empty,.text-center {
  text-align:center;
}
.datatable-wrapper .datatable-bottom .datatable-info {
  color:var(--color-gray-500);
  font-size:.875rem;
}
.dark .datatable-wrapper .datatable-bottom .datatable-info {
  color:var(--color-gray-400);
}
.datatable-wrapper .datatable-table thead th .datatable-sorter {
  text-transform:uppercase;
}
.datatable-wrapper .datatable-table thead th .datatable-sorter:hover,.datatable-wrapper .datatable-table thead th.datatable-ascending .datatable-sorter,.datatable-wrapper .datatable-table thead th.datatable-descending .datatable-sorter {
  color:var(--color-gray-900);
}
.dark .datatable-wrapper .datatable-table thead th .datatable-sorter:hover,.dark .datatable-wrapper .datatable-table thead th.datatable-ascending .datatable-sorter,.dark .datatable-wrapper .datatable-table thead th.datatable-descending .datatable-sorter {
  color:#fff;
}
.datatable-wrapper .datatable-table thead th.datatable-ascending .datatable-sorter {
  color:var(--color-gray-900);
}
.dark .datatable-wrapper .datatable-table thead th.datatable-ascending .datatable-sorter {
  color:#fff;
}
.datatable-wrapper .datatable-table thead th.datatable-descending .datatable-sorter {
  color:var(--color-gray-900);
}
.dark .datatable-wrapper .datatable-table thead th.datatable-descending .datatable-sorter {
  color:#fff;
}

