<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configuration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Configuration</h1>
    <form method="post">
        <fieldset>
            <legend>General</legend>
            <label>Slots per day: <input type="number" name="slots_per_day" value="{{ config['slots_per_day'] }}"></label><br>
            <label>Slot duration (minutes): <input type="number" name="slot_duration" value="{{ config['slot_duration'] }}"></label><br>
            <label>Lesson duration (minutes): <input type="number" name="lesson_duration" value="{{ config['lesson_duration'] }}"></label><br>
            <label>Min lessons per student: <input type="number" name="min_lessons" value="{{ config['min_lessons'] }}"></label><br>
            <label>Max lessons per student: <input type="number" name="max_lessons" value="{{ config['max_lessons'] }}"></label>
        </fieldset>
        <fieldset>
            <legend>Teachers</legend>
            {% for t in teachers %}
            <input type="hidden" name="teacher_id" value="{{ t['id'] }}">
            <label>Name: <input type="text" name="teacher_name" value="{{ t['name'] }}"></label>
            <label>Subjects: <input type="text" name="teacher_subjects" value="{{ ', '.join(json.loads(t['subjects'])) }}"></label><br>
            {% endfor %}
        </fieldset>
        <fieldset>
            <legend>Students (comma separated subjects)</legend>
            {% for s in students %}
            <input type="hidden" name="student_id" value="{{ s['id'] }}">
            <label>Name: <input type="text" name="student_name" value="{{ s['name'] }}"></label>
            <label>Subjects: <input type="text" name="student_subjects" value="{{ ', '.join(json.loads(s['subjects'])) }}"></label><br>
            {% endfor %}
        </fieldset>
        <button type="submit">Save</button>
    </form>
    <p><a href="{{ url_for('index') }}">Back to Home</a></p>
</body>
</html>
