<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configuration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Configuration</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, msg in messages %}
        <li class="{{ category }}">{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form method="post">
        <fieldset>
            <legend>General</legend>
            <label>Slots per day: <input type="number" name="slots_per_day" value="{{ config['slots_per_day'] }}"></label><br>
            <label>Slot duration (minutes): <input type="number" name="slot_duration" value="{{ config['slot_duration'] }}"></label><br>
            <label>Lesson duration (minutes): <input type="number" name="lesson_duration" value="{{ config['lesson_duration'] }}"></label><br>
            <label>Min lessons per student: <input type="number" name="min_lessons" value="{{ config['min_lessons'] }}"></label><br>
            <label>Max lessons per student: <input type="number" name="max_lessons" value="{{ config['max_lessons'] }}"></label>
        </fieldset>
        <fieldset>
            <legend>Subjects</legend>
            {% for sub in subjects %}
            <input type="hidden" name="subject_id" value="{{ sub['id'] }}">
            <label>Name: <input type="text" name="subject_name_{{ sub['id'] }}" value="{{ sub['name'] }}"></label>
            <label>Delete? <input type="checkbox" name="subject_delete" value="{{ sub['id'] }}"></label><br>
            {% endfor %}
            <label>New Subject: <input type="text" name="new_subject_name"></label><br>
        </fieldset>
        <fieldset>
            <legend>Teachers</legend>
            {% for t in teachers %}
            <input type="hidden" name="teacher_id" value="{{ t['id'] }}">
            <label>Name: <input type="text" name="teacher_name_{{ t['id'] }}" value="{{ t['name'] }}"></label>
            <label>Subjects:
                <select multiple name="teacher_subjects_{{ t['id'] }}">
                    {% for sub in subjects %}
                    <option value="{{ sub['name'] }}" {% if sub['name'] in json.loads(t['subjects']) %}selected{% endif %}>{{ sub['name'] }}</option>
                    {% endfor %}
                </select>
            </label>
            <label>Delete? <input type="checkbox" name="teacher_delete_{{ t['id'] }}" value="1"></label><br>
            {% endfor %}
            <label>New Name: <input type="text" name="new_teacher_name"></label>
            <label>Subjects:
                <select multiple name="new_teacher_subjects">
                    {% for sub in subjects %}
                    <option value="{{ sub['name'] }}">{{ sub['name'] }}</option>
                    {% endfor %}
                </select>
            </label><br>
        </fieldset>
        <fieldset>
            <legend>Students</legend>
            {% for s in students %}
            <input type="hidden" name="student_id" value="{{ s['id'] }}">
            <label>Name: <input type="text" name="student_name_{{ s['id'] }}" value="{{ s['name'] }}"></label>
            <label>Subjects:
                <select multiple name="student_subjects_{{ s['id'] }}">
                    {% for sub in subjects %}
                    <option value="{{ sub['name'] }}" {% if sub['name'] in json.loads(s['subjects']) %}selected{% endif %}>{{ sub['name'] }}</option>
                    {% endfor %}
                </select>
            </label>
            <label>Delete? <input type="checkbox" name="student_delete_{{ s['id'] }}" value="1"></label><br>
            {% endfor %}
            <label>New Name: <input type="text" name="new_student_name"></label>
            <label>Subjects:
                <select multiple name="new_student_subjects">
                    {% for sub in subjects %}
                    <option value="{{ sub['name'] }}">{{ sub['name'] }}</option>
                    {% endfor %}
                </select>
            </label><br>
        </fieldset>
        <fieldset>
            <legend>Teacher Unavailability</legend>
            {% for u in unavailable %}
            <input type="hidden" name="unavail_id" value="{{ u['id'] }}">
            <span>{{ u['teacher_name'] }} - Slot {{ u['slot'] + 1 }}</span>
            <label>Delete? <input type="checkbox" name="unavail_delete" value="{{ u['id'] }}"></label><br>
            {% endfor %}
            <label>Teacher:
                <select name="new_unavail_teacher">
                    {% for t in teachers %}
                    <option value="{{ t['id'] }}">{{ t['name'] }}</option>
                    {% endfor %}
                </select>
            </label>
            <label>Slot: <input type="number" name="new_unavail_slot" min="1" max="{{ config['slots_per_day'] }}"></label><br>
        </fieldset>
        <fieldset>
            <legend>Fixed Assignments</legend>
            {% for a in assignments %}
            <input type="hidden" name="assign_id" value="{{ a['id'] }}">
            <span>{{ a['student_name'] }} - {{ a['subject'] }} with {{ a['teacher_name'] }} at Slot {{ a['slot'] + 1 }}</span>
            <label>Delete? <input type="checkbox" name="assign_delete" value="{{ a['id'] }}"></label><br>
            {% endfor %}
            <label>Student:
                <select name="new_assign_student" id="new_assign_student">
                    {% for s in students %}
                    <option value="{{ s['id'] }}">{{ s['name'] }}</option>
                    {% endfor %}
                </select>
            </label>
            <label>Teacher:
                <select name="new_assign_teacher" id="new_assign_teacher">
                    {% for t in teachers %}
                    <option value="{{ t['id'] }}">{{ t['name'] }}</option>
                    {% endfor %}
                </select>
            </label>
            <label>Subject:
                <select name="new_assign_subject" id="new_assign_subject"></select>
            </label>
            <label>Slot:
                <select name="new_assign_slot" id="new_assign_slot" data-total-slots="{{ config['slots_per_day'] }}"></select>
            </label><br>
        </fieldset>
        <button type="submit">Save</button>
    </form>
    <p><a href="{{ url_for('index') }}">Back to Home</a></p>
    <script id="teacher-data" type="application/json">{{ teacher_map | tojson }}</script>
    <script id="student-data" type="application/json">{{ student_map | tojson }}</script>
    <script id="unavail-data" type="application/json">{{ unavail_map | tojson }}</script>
    <script src="{{ url_for('static', filename='config.js') }}"></script>
</body>
</html>
